<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Username and Password</title>
</head>
<body>
<h1>iayaaaa</h1>
<form method="post" action="/interaction/<%= uuid %>/complete">
    <button type="submit" name="uid" value="12345">Sign in as 12345</button>
</form>
</body>
</html>